Django>=5.2,<5.3
gunicorn>=22.0,<23.0
psycopg2-binary>=2.9,<3.0
django-environ>=0.11,<0.12
django-storages[boto3]>=1.14,<1.15
django-multiselectfield>=1.0,<1.1
Pillow>=10.0,<11.0
graphene-django>=3.2,<3.3
requests>=2.32,<3.0
beautifulsoup4>=4.12,<5.0
lxml>=5.0,<6.0
